@model IEnumerable<comestic_csharp.Models.Product>

<link rel="stylesheet" href="/shop/list.css">


	<section class="shop-home-list section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="row">
						<div class="col-12">
							<div class="shop-section-title">
								<h1>On sale</h1>
							</div>
						</div>
					</div>

					@foreach (var item in Model)
					{
						<div class="single-list">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="list-image overlay">
										<img src="/storage/@item.Photo1" alt="#">
										<a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.Id" class="buy"><i class="fa fa-shopping-bag"></i></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12 no-padding">
									<div class="content">
										<h4 class="title"><a asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">@item.Title</a></h4>
										<p class="price with-discount">@item.Price</p>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="row">
						<div class="col-12">
							<div class="shop-section-title">
								<h1>Best Seller</h1>
							</div>
						</div>
					</div>
					<!-- Start Single List  -->
					@foreach (var item in Model)
					{
						<div class="single-list">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="list-image overlay">
										<img src="/storage/@item.Photo1" alt="#">
										<a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.Id" class="buy"><i class="fa fa-shopping-bag"></i></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12 no-padding">
									<div class="content">
										<h4 class="title"><a asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">@item.Title</a></h4>
										<p class="price with-discount">@item.Price</p>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="row">
						<div class="col-12">
							<div class="shop-section-title">
								<h1>Top viewed</h1>
							</div>
						</div>
					</div>
					<!-- Start Single List  -->
					@foreach (var item in Model)
					{
						<div class="single-list">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="list-image overlay">
										<img src="/storage/@item.Photo1" alt="#">
										<a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.Id" class="buy"><i class="fa fa-shopping-bag"></i></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12 no-padding">
									<div class="content">
										<h4 class="title"><a asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">@item.Title</a></h4>
										<p class="price with-discount">@item.Price</p>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</section>