@model IEnumerable<comestic_csharp.Models.Product>
@{
        ShopContext context = new ShopContext();
        var pro = context.Products.Take(8).ToArray();
}

<style>
    .product-area .nav-tabs {
        text-align: center;
        display: inline-block;
        width: 100%;
        border: none;
        padding-bottom: 35px;
    }
    
    .product-area .nav-tabs .nav-item {
        margin-bottom: -1px;
        display: inline-block;
    }
    
    .product-area .nav-tabs li a {
        color: #333;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        margin-right: 5px;
        font-weight: 500;
        background: #fff;
        padding: 3px 14px;
        border-radius: 3px;
        font-size: 13px;
    }
    
    .nav-tabs li a :hover {
        color: white !important;
    }
    
    .product-area .nav-tabs li:last-child a {
        border-color: transparent;
    }
    
    .product-area .nav-tabs li a i {
        margin-right: 10px;
    }
    
    .product-area .nav-tabs li a.active,
    .product-area .nav-tabs li:hover a {
        background:#70B19F;
        color: #fff;
        border-color: transparent;
        border-radius: 5px !important;
    }
</style>

<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Item</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="nav-main">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="lip" role="tab">LIP</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#faces" role="tab">FACES</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#eyes" role="tab">EYES</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#skincare" role="tab">SKINCARE</a></li>
                        </ul>
                        <!--/ End Tab Nav -->
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade show active" id="lip" role="tabpanel">
                            <div class="tab-single">
                                <div class="row product">
                                    @for (var i = 4; i< 8; i++)
                                    {  
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">

                                        <div class="card card-product mb-3">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <img class="card-img-top" src="./storage/@pro[i].Photo1" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title product-title">@pro[i].Title</h5>
                                                <div class="card-text product-price">
                                                    <span class="del-price">@pro[i].Price</span>
                                                    <span class="new-price">80.000 vnd</span>
                                                </div>
                                                <a class="btn btn-success btn-add-to-cart"><i class="fas fa-shopping-cart"></i></a>
                                                <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@pro[i].Id">Xem chi tiết</a>
                                                <h3 class="badge rounded-pill bg-danger" id="new">New</h3>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade" id="faces" role="tabpanel">
                            <div class="tab-single">
                                <div class="row product">
                                    @for (var i = 0; i< 4; i++)
                                    {  
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">

                                        <div class="card card-product mb-3">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <img class="card-img-top" src="./storage/@pro[i].Photo1" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title product-title">@pro[i].Title</h5>
                                                <div class="card-text product-price">
                                                    <span class="del-price">@pro[i].Price</span>
                                                    <span class="new-price">80.000 vnd</span>
                                                </div>
                                                <a class="btn btn-success btn-add-to-cart"><i class="fas fa-shopping-cart"></i></a>
                                                <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@pro[i].Id">Xem chi tiết</a>
                                                <h3 class="badge rounded-pill bg-danger" id="new">New</h3>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade" id="eyes" role="tabpanel">
                            <div class="tab-single">
                                <div class="row product">
                                    @for (var i = 0; i< 8; i++)
                                    {  
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">

                                        <div class="card card-product mb-3">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <img class="card-img-top" src="./storage/@pro[i].Photo1" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title product-title">@pro[i].Title</h5>
                                                <div class="card-text product-price">
                                                    <span class="del-price">@pro[i].Price</span>
                                                    <span class="new-price">80.000 vnd</span>
                                                </div>
                                                <a class="btn btn-success btn-add-to-cart"><i class="fas fa-shopping-cart"></i></a>
                                                <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@pro[i].Id">Xem chi tiết</a>
                                                <h3 class="badge rounded-pill bg-danger" id="new">New</h3>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade" id="skincare" role="tabpanel">
                            <div class="tab-single">
                                <div class="row product">
                                    @for (var i = 0; i< 4; i++)
                                    {  
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">

                                        <div class="card card-product mb-3">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <img class="card-img-top" src="./storage/@pro[i].Photo1" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title product-title">@pro[i].Title</h5>
                                                <div class="card-text product-price">
                                                    <span class="del-price">@pro[i].Price</span>
                                                    <span class="new-price">80.000 vnd</span>
                                                </div>
                                                <a class="btn btn-success btn-add-to-cart"><i class="fas fa-shopping-cart"></i></a>
                                                <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@pro[i].Id">Xem chi tiết</a>
                                                <h3 class="badge rounded-pill bg-danger" id="new">New</h3>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                                <div class="row product">
                                    @for (var i = 0; i< 4; i++)
                                    {  
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">

                                        <div class="card card-product mb-3">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <img class="card-img-top" src="./storage/@pro[i].Photo1" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title product-title">@pro[i].Title</h5>
                                                <div class="card-text product-price">
                                                    <span class="del-price">@pro[i].Price</span>
                                                    <span class="new-price">80.000 vnd</span>
                                                </div>
                                                <a class="btn btn-success btn-add-to-cart"><i class="fas fa-shopping-cart"></i></a>
                                                <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@pro[i].Id">Xem chi tiết</a>
                                                <h3 class="badge rounded-pill bg-danger" id="new">New</h3>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>