@using comestic_csharp.Areas.Identity.Data
@model IEnumerable<comestic_csharp.Models.Product>
@{
        ShopDbContext context = new ShopDbContext();
        var pro = context.Products.Take(8).ToArray();
}

<div class="container">
    <div class="row">
            <div class="col-12">
                <div class="section-title" style="padding-top: 25px;">
                    <h2>Top Review</h2>
                </div>
            </div>
        </div>
        <div class="product-out">

            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators sp" style="bottom: -15px;">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    @* <li data-target="#demo" data-slide-to="2"></li> *@
                </ul>
                <!-- The slideshow -->

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row product">
                            @for (var i = 0; i< 4; i++)
                            {  
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">

                                <div class="card card-product mb-3">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <img class="card-img-top" src="./storage/@pro[i].Photo1" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title product-title">@pro[i].Title</h5>
                                        <div class="card-text product-price">
                                            @if (@pro[i].CouponId == 1)
                                            {
                                                <span class="price">@pro[i].Price</span>
                                            }
                                            else{
                                                    var giamGia = context.Coupons.SingleOrDefault(p => p.Id == @pro[i].CouponId);
                                                    var delPrice = @pro[i].Price /(1- giamGia.Value/100);

                                                    <span class="del-price">@delPrice</span>
                                                    <span class="new-price">@pro[i].Price</span>
                                            }
                                        </div>
                                        @if(User.Identity.IsAuthenticated){
                                                    <a class="btn btn-info btn-add-to-cart" asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@pro[i].Id"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                                else{
                                                    <a class="btn btn-info btn-add-to-cart" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                                }
                                        <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@pro[i].Id">Xem chi tiết</a>
                                        <h3 class="badge rounded-pill bg-danger" id="new">New</h3>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row product">
                            @for (var i = 4; i< 8; i++)
                            {  
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">

                                <div class="card card-product mb-3">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <img class="card-img-top" src="./storage/@pro[i].Photo1" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title product-title">@pro[i].Title</h5>
                                        <div class="card-text product-price">
                                            @if (@pro[i].CouponId == 1)
                                            {
                                                <span class="price">@pro[i].Price</span>
                                            }
                                            else{
                                                    var giamGia = context.Coupons.SingleOrDefault(p => p.Id == @pro[i].CouponId);
                                                    var delPrice = @pro[i].Price /(1- giamGia.Value/100);

                                                    <span class="del-price">@delPrice</span>
                                                    <span class="new-price">@pro[i].Price</span>
                                            }
                                        </div>
                                        <a class="btn btn-info btn-add-to-cart" asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@pro[i].Id"><i class="fa fa-shopping-cart"></i></a>
                                        <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@pro[i].Id">Xem chi tiết</a>
                                        <h3 class="badge rounded-pill bg-danger" id="new">New</h3>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>

                   @* <div class="carousel-item">
                        <div class="row product">
                            @for (var i = 8; i < 12; i++)
                            {  
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">

                                <div class="card card-product mb-3">
                                    <img class="card-img-top" src="./storage/@pro[i].Photo1" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title product-title">@pro[i].Title</h5>
                                        <div class="card-text product-price">
                                            <span class="del-price">@pro[i].Price</span>
                                            <span class="new-price">80.000 vnd</span>
                                        </div>
                                        <a class="btn btn-success btn-add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a class="btn btn-outline-success btn-detail">Xem chi tiết</a>
                                        <h3 class="badge rounded-pill bg-danger" id="new">New</h3>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
</div>