@model comestic_csharp.Models.Banner

@{
    ViewData["Title"] = "Details";
}

        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">BANNER</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Product">BANNER</a></li>
                            <li class="breadcrumb-item">Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


<div class="pcoded-content">
    <div class="card">
        <h3 class="card-header">Details</h3>
        <div class="card-body">
            <table class="table" id="banner">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Title)
                            
                        </td>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Slug)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Slug)
                        </td>
                        @* <td>
                            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </td> *@
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

