@model comestic_csharp.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Category</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="CategoryA">Category</a></li>
                            <li class="breadcrumb-item">Details Category</li>
                        </ul>
                    </div>
                </div>
            </div>
</div>

<div class="pcoded-content">
    <div class="card">
        <h3 class="card-header">Details</h3>
        <div class="card-body">
            <dl class="row">
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Slug)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Slug)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Summary)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Summary)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Photo)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Photo)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.IsParent)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.IsParent)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.AddedByNavigation)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.AddedByNavigation.Fullname)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Parent)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Parent.Slug)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning">Edit</a>
            <a asp-action="Index" class="btn btn-outline-primary" >Back to List</a>
        </div>
    </div>
</div>

