@using comestic_csharp.Areas.Identity.Data
@model IEnumerable<comestic_csharp.Models.Orderdetail>

@{
    ViewData["Title"] = "Details";
    var order = ViewBag.Order;
}
<div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">ORDER</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Order">Order</a></li>
                            <li class="breadcrumb-item">Details Order</li>
                        </ul>
                    </div>
                </div>
            </div>
</div>

<div class="pcoded-content">
    <div class="row">
        <div class="col col-9">
            <div class="card">
                <h3 class="card-header">Order Detail</h3>
                <div class="card-body">
                    <ul class="row">
                        <li class = "col-sm-10">
                           Order number: @order.OrderNumber
                        </li>
                        <li class = "col-sm-10">
                           Fullname: @order.FirstName @order.LastName
                        </li>
                        <li class = "col-sm-10">
                            Date: @order.CreatedAt
                        </li>
                        <li class = "col-sm-10">
                           Phone: @order.Phone
                        </li>
                        <li class = "col-sm-10">
                           Status: @order.Status
                        </li>
                        <li class = "col-sm-10">
                           Address: @order.Address
                        </li>
                        <li class = "col-sm-10">
                           Total: @order.TotalAmount
                        </li>
                    </ul>
                        <table class="table" id="example1">
                            <thead>
                                <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Quantity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Total)
                                        </th>
                                        <th></th>
                                    </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @{
                                                    ShopDbContext context = new ShopDbContext();
                                                    var title = context.Products.SingleOrDefault(t => t.Id == item.ProductId).Title;
                                                }
                                                @title
                                            </td>
                                            <td>
                                                @item.Quantity
                                            </td>
                                            <td>
                                                @item.Price
                                            </td>
                                            <td>
                                                @item.Total
                                            </td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
