@using comestic_csharp.Areas.Identity.Data
@model IEnumerable<comestic_csharp.Models.Orderdetail>

@{







    ViewData["Title"] = "Details";



    var order = ViewBag.Order;
}
<style>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    h1,
    h2,
    h4,
    h5,
    h6,
    span,
    div {
        font-family: DejaVu Sans;
        font-size: 17px;
        font-weight: normal;
    }

    p {
        font-family: DejaVu Sans;
        font-size: 16px;
        font-weight: normal;
        margin-left: -1px;
        margin-bottom: -18px;
    }

    h3 {
        font-family: DejaVu Sans;
        font-size: 17px;
        font-weight: normal;
        margin-left: -42px;
        font-size: 20px;
    }

    table {
        margin-top: 20px
    }

    th,
    td {
        font-family: DejaVu Sans;
        font-size: 14px;
    }

    .panel {
        /* margin-bottom: 20px; */
        background-color: #fff;
        /* border: 1px solid transparent; */
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .panel-default {
        border-color: #ddd;
    }

    .panel-body {
        padding: 15px;
    }


    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 0px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    hr {
        opacity: 0.05;
    }

    .column {
        float: left;
        width: 50%;
        padding: 20px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    #invoice,
    #from,
    #to,
    #foot {
        color: #608a77;
        font-weight: bold;
        margin-left: -1px;
        margin-bottom: -16px;
    }

    strong {
        color: #608a77;
    }

    #total {
        font-size: 17px;
    }

    img {
        width: 55% !important;
        margin-top: 21px;
        margin-left: 43px;
    }

    .tt {
        float: right;
        margin-right: -76px;
    }

    #sta {
        background: #ffa21d;
        padding-left: 23px;
        color: white;
        border-radius: 8px;
        padding-bottom: 3px;
    }
</style>
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">ORDER</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a class="pc-link" asp-action="index"
                            asp-controller="Dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Order">Order</a>
                    </li>
                    <li class="breadcrumb-item">Details Order</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="pcoded-content">
    <div class="row" style="margin-top: -15px;">
        <div class="col col-12">
            <div class="card">
                <div class="row">
                    <div class="column" id="column1">
                        <img src="https://i.postimg.cc/rsF0ynZz/Pun-1-removebg-preview.jpg" alt=""
                            style="width: 200px; height: 100px;">
                    </div>
                    <div class="column" id="column2" style="background-color:#fff;">
                        <h3 id="invoice">@order.OrderNumber</h3>
                        <p> Date: @order.CreatedAt</p>
                        @if(@order.PaymentMethod =="cod"){
                            <p>Payment Method: Cash on delivery</p>
                        }
                        else{
                            <p>Payment Method: Paypal</p>
                        }
                 
                    </div>
                </div>
                <hr>
                <div class="card-body">

                    <div class="row" style="margin-top: -54px;">
                        <div class="column" style="background-color:#fff;">
                            <h2 id="from">From</h2>
                            <p>PUN Comestic </p>
                            <p style=" font-size: 11px;"> Quarter 6, Linh Trung Ward, Thu Duc City, Ho Chi Minh City.
                            </p>
                            <p>punshop@ecommerce.com</p>
                            <p> 0889 876 54</p>
                        </div>
                        <div class="column" style="background-color:#fff;">
                            <h2 id="to">To</h2>
                            <p>@order.FirstName @order.LastName</p>
                            <p> @order.Address</p>
                            <p>@order.Phone</p>
                            <p class="col col-3" id="sta">@order.Status</p>


                        </div>

                    </div>

                    <table class="table" id="example1">
                        <thead>
                            <tr>
                                <th>
                                   Name
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Total)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)



                            {
                                <tr>
                                    <td>
                                        @{



                                            ShopDbContext context = new ShopDbContext();



                                            var title = context.Products.SingleOrDefault(t => t.Id == item.ProductId).Title;
                                        }
                                        @title
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                    <td>
                                        @item.Total
                                    </td>
                                </tr>



                            }
                        </tbody>
                    </table>
                    <div style="clear:both; position:relative;">

                        <div style="float: right; margin-right: 50px;">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" style="margin-top: -50px;">
                                            <p id="total">
                                                <strong>Subtotal</strong><span class="tt"> @order.SubTotal</span>
                                            </p>

                                            @* <p id="total">
                                                <strong>Shipping Cost</strong>:
                                                </p> *@
                                            <p id="total">
                                                @if (@order.CouponId != null)
                                                {

                                                    ShopDbContext ct = new ShopDbContext();

                                                    var value = ct.Coupons.Find(@order.CouponId).Value;

                                                    var tienGiam = @order.SubTotal * value / 100;
                                                     <strong>Discount</strong> <span class="tt"> @tienGiam.ToString("0")</span>
                                                    @* <li class="col-sm-10">
                                                        Discount: @tienGiam
                                                    </li> *@

                                                }

                                                else
                                                {
                                                     <strong>Discount</strong> <span class="tt"> 0</span>
                                                    @* <li class="col-sm-10">
                                                        Discount: 0;
                                                    </li> *@

                                                }
                                                @* <strong>Coupon ID</strong> <span class="tt"> @order.CouponId</span> *@
                                            </p>

                                            <p style="font-weight: bold;" id="total">
                                                <strong>Total amount</strong> <span class="tt">@order.TotalAmount</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <p id="foot"
                            style="font-size :14px; text-align:center; margin-top: 161px !important; margin-left: 201px;">
                            THANK YOU FOR CHOOSING US !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>