@model IEnumerable<comestic_csharp.Models.Order>
@* @{
        Layout ="_Layout";
} *@

@await Html.PartialAsync("_StyleLayout")

<div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">ORDER</h5>
                    </div>
                    <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Order">Order</a></li>
                            <li class="breadcrumb-item">Index</li>
                    </ul>
                    </div>
                </div>
        </div>
</div>

<div class="pcoded-content">
    <div class="card" style="width: fit-content;">
    <div class="flex-container">
        <div><h1 style="text-align: center; color: #095a3c; padding-top: 30px; padding-left: 40px">ORDER</h1>
        </div>
        <div></div>
        <div><p><a asp-action="Create" class="add"><i data-feather ="plus"></i>Add new</a></p></div> 
    </div>
    <table class="table" id="example1">
                            <thead>
                                <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OrderNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedAt)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TotalAmount)
                                        </th>
                                        <th></th>
                                    </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedAt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalAmount)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn  btn-info btn-sm"><i data-feather="edit"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn  btn-success btn-sm"><i data-feather="eye"></i></a>                                              
                                            </td>
                                        </tr>
                                    }
                            </tbody>
    </table>
    </div>
</div>

@await Html.PartialAsync("_ScriptsLayout")