@model IEnumerable<comestic_csharp.Models.Brand>

@{
    ViewData["Title"] = "Brand";
}
<div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">BRAND</h5>
                    </div>
                    <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Brand">Brand</a></li>
                            <li class="breadcrumb-item">Index</li>
                    </ul>
                    </div>
                </div>
        </div>
    </div>
<div class="flex-container">
  <div><h1 style="text-align: center; color: #095a3c; padding-top: 30px; padding-left: 40px">Brand</h1></div>
  <div></div>
  <div><p>
    <a asp-action="Create" class="add"><i data-feather ="plus"></i>  Add new</a>
</p></div> 
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i data-feather ="edit"></i></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><i data-feather ="eye"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><i data-feather ="trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
