@model comestic_csharp.Areas.Identity.Data.ShopUser
@{
    ViewData["Title"] = "Details";
}
<div class="pcoded-content">
    <div class="card">
        <h3 class="card-header">Details</h3>
        <div class="card-body">
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Photo)
                </dt>
                <dd class = "col-sm-10">
                    @if (Model.Photo != null)
                    {
                        <img src="/storage/@Model.Photo">
                    }
                    else{
                        <img src="/storage/null.jpg">
                    }
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Fullname)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Fullname)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-outline-primary" >Back to List</a>
        </div>
    </div>
</div>