@{

	Layout = "/Views/Shared/_MainLayout.cshtml";

	decimal total = 0;
}

@model List<comestic_csharp.Models.CartItem>
@using Microsoft.AspNetCore.Http;

<link rel="stylesheet" href="~/shop/checkout.css">

    <div class="col-12">
					<div class="section-title" style="padding-top: 25px; fontsize: 35px">
						<h2>Checkout</h2>
						<p>Checkout with your shopping cart product.</p>
					</div>
	</div>
<section class="shop checkout section">
        <div class="container">
			<form asp-action="testCheckout" asp-controller="ShoppingCart">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="checkout-form">
							<h2>Make Your Checkout Here</h2>
							<p>Please register in order to checkout more quickly</p>
							<!-- Form -->
							<form class="form" asp-action="testCheckout" asp-controller="ShoppingCart">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>First Name <span>*</span></label>
											<br>
											<input type="text" name="FirstName" placeholder="First name" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Last Name <span>*</span></label>
											<br>
											<input type="text" name="Lastname" placeholder="Last name" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Email Address <span>*</span></label>
											<br>
											<input type="email" name="Email" placeholder="contact@gmail.com" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Phone Number <span>*</span></label>
											<br>
											<input type="number" name="Phone" placeholder="+84 123456789" required="required">
										</div>
									</div>
								
									
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Address <span>*</span></label>
											<br>
											<input type="text" name="Address" placeholder="Address" required="required">
										</div>
									</div>
									
								
								
									<div class="col-12">
										<div class="form-group create-account">
											<input id="cbox" type="checkbox">
											<label>Create an account?</label>
										</div>
									</div>
								</div>
							</form>
							<!--/ End Form -->
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="order-details">
							<!-- Order Widget -->
							<div class="single-widget">
								<h2>CART TOTALS</h2>
								<div class="content">
									<ul>
										@foreach (var cartitem in Model)

										{

											var thanhtien = cartitem.Quantity * cartitem.Product.Price;

											total += thanhtien;
											<li>@cartitem.Product.Title x @cartitem.Quantity<span>@(thanhtien.ToString("n0"))
											</li>

										}
									</ul>
								</div>
								<div class="content">
									<ul>
										<li class="last" name="SubTotal">Sub Total<span>@(total.ToString("n0"))</span></li>
										@if(@Context.Session.GetInt32("save") != null){
											<li>(-)Save<span>@Context.Session.GetInt32("save")</span></li>
											<li class="last" name="Total" style="font-weight: bold;">
											Total<span>@Context.Session.GetInt32("final")</span>
										</li>
										}
										else{
											<li>(-)Save<span>0</span></li>
											<li class="last" name="Total" style="font-weight: bold;">
											Total<span>@(total.ToString("n0"))</span>
										</li>
										}
									</ul>
								</div>
							</div>
							<!--/ End Order Widget -->
							<!-- Order Widget -->
							<div class="single-widget">
								<h2>Payments</h2>
								<div class="content">
									<div class="radio">
										<label class="radio-inline" for="1"><input name="payment" id="1" value=1 type="radio">
											Cash On Delivery</label>
										<label class="radio-inline" for="2"><input name="payment" id="2" value=2 type="radio">
											MOMO</label>
									</div>
								</div>
							</div>
							<!--/ End Order Widget -->
							<!-- Payment Method Widget -->
							<div class="single-widget payement">
								<div class="content">
									<img src="/storage/payment-method.png" alt="#">
								</div>
							</div>
							<!--/ End Payment Method Widget -->
							<!-- Button Widget -->
							<div class="single-widget get-button">
								<div class="content">
									<div class="button">
										<button class="btn" type="submit">proceed to checkout</button>
									</div>
								</div>
							</div>

							<!--/ End Button Widget -->
						</div>
					</div>
				</div>
			</form>
        </div>
</section>

<partial name="/Views/Shared/_ScriptsLayout.cshtml" />