@model IEnumerable<comestic_csharp.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_StyleLayout")
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">BRAND</h5>
                    </div>
                    <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="BrandA">Brand</a></li>
                            <li class="breadcrumb-item">Index</li>
                    </ul>
                    </div>
                </div>
        </div>
</div>

<div class="pcoded-content">
   <section class="content">
      <div class="container-fluid">        
        <div class="row">
          <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-9">
                                <h3 class="card-header">BRAND</h3>       
                            </div>
                            <div class="col-3">
                                <p class="card-header" style="margin-top: 11px !important"><a asp-action="Create" class="add"><i data-feather ="plus"></i> Add new</a></p>
                            </div>
                        </div>
                    </div>
                <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table" id="example1" >
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Slug)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Slug)
                                        </td>
                                        <td>
                                             @if( item.Status =="active") {
                                              
                                                <input type="checkbox"  checked data-toggle="toggle" data-size="sm" data-on="Active" data-off="Inactive" data-onstyle="outline-success" data-offstyle="outline-danger" style="padding-left: 8px !important;">
                                           }
                                           else{
                                                <input type="checkbox"  data-toggle="toggle" data-size="sm" data-on="Active" data-off="Inactive" data-onstyle="outline-success" data-offstyle="outline-danger" style="padding-left: 8px !important;">
                                           }
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id"><i data-feather ="edit" style="color: #3EC9E6;"></i></a> 
                                            <a asp-action="Details" asp-route-id="@item.Id"><i data-feather ="eye"></i></a> 
                                            <a asp-action="Delete" asp-route-id="@item.Id"><i data-feather="trash" style="color: red;"></i></a>
                                        </td>
                                    </tr>
                                }   
                                </tbody>
                        </table>
                    </div>
                <!-- /.card-body -->
                </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
</div>
  
@await Html.PartialAsync("_ScriptsLayout")