@* <link rel="stylesheet" href="/shop/grid.css"> *@
<link rel="stylesheet" href="/shop/bestseller.css">
@using comestic_csharp.Areas.Identity.Data
@model List<comestic_csharp.Models.Product>
@{
    Layout = "/Views/Shared/_MainLayout.cshtml";
}  



<div class="title-page">
	<div class="title-page" style="background-image: url('https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/v55//Collection-Banner/CP-Home-Goods');background-position: center center;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 inner-title-page">
                
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb" style="margin-bottom: 26px; background-color: #fafbf8;">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">BestSeller</li>
                        </ol>
                </nav>
                  <div class="section-title" style="padding-bottom: 0px; padding-top: 15px; padding-left: 60px;">
                    <h2>Best Selling Natural Makeup Skin Care Products Of Pun Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: -81px; margin-bottom: -100px;">
    <div class="row introduce-homepage">
        <div class="introduce-left">
            <div class="row introduce-homepage-left">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 img-introduce">
                    <img src="https://i.pinimg.com/564x/b5/3d/52/b53d521a306afb8ca5c7e84683fe8d92.jpg" alt="">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 introduce-homepage-content">
                    <h2>0.1</h2>
                    <h5>Kem dưỡng thể ban đêm</h5>
                    <p>Trải qua nhiều năm nghiên cứu, Collagen Elastin Cream ra đời dựa trên sự cải tiến của các sản phẩm cùng công dụng trước đó. Sử dụng thành phần tự nhiên, 
                        an toàn và dịu nhẹ cho mọi loại da, kể cả da nhạy cảm.
                    </p>
                    <button class="btn">VIEW MORE</button>
                </div>
            </div>
        </div>

        <div class="introduce-right">
            <div class="row introduce-homepage-right">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 introduce-homepage-content">
                    <h2>0.2</h2>
                    <h5>Serum vitamin C</h5>
                    <p>Serum vitamin C là sản phẩm làm đẹp dạng serum có chứa Vitamin C giúp cung cấp cho da và giúp da hấp thụ dễ dàng hơn.
                        Vitamin C hấp thu vào cơ thể đầy đủ sẽ giúp làn da của bạn trở nên sáng và có sức sống hơn, không bị khô, nhăn do ảnh hưởng lão hóa.
                    </p>
                    <button class="btn">VIEW MORE</button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 img-introduce">
                    <img src="https://i.pinimg.com/736x/8e/c2/ad/8ec2ad4fce7d2765b45bcedc72ec1ad4.jpg" alt="">
                </div>

            </div>
        </div>

        <div class="introduce-left">
            <div class="row introduce-homepage-left">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 img-introduce">
                    <img src="https://i.pinimg.com/564x/98/40/3d/98403dc4f74f5828a86049058c5ecea4.jpg" alt="">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 introduce-homepage-content">
                    <h2>0.3</h2>
                    <h5>Kem dưỡng ẩm cho Huxley</h5>
                    <p>Chất kem của Huxley khá đặc so với những dòng kem Hàn Quốc vốn mỏng nhẹ. Tuy nhiên không quá khó tán, chỉ cần massage nhẹ và đều tay là được, đồng thời cũng không gây bết dính, em này dùng cho mùa hè rất ổn.
                    </p>
                    <button class="btn">VIEW MORE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
                <div class="section-title" style="padding-top: 25px;">
                    <h2>Best Seller</h2>
                </div>
            </div>
<div class="container">
                     <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div class="card card-product mb-3">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <img class="card-img-top" src="/storage/@item.Photo1" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title product-title">@item.Title</h5>
										
                                            <div class="card-text product-price">
                                            @if (@item.CouponId == 1)
                                            {
                                                <span class="price">@item.Price</span>
                                            }
                                            else{
													ShopDbContext context = new ShopDbContext();
                                                    var giamGia = context.Coupons.SingleOrDefault(p => p.Id == @item.CouponId);
                                                    var delPrice = @item.Price /(1- giamGia.Value/100);

                                                    <span class="del-price">@delPrice</span>
                                                    <span class="new-price">@item.Price</span>
                                            }
                                            </div>
                                            @if(User.Identity.IsAuthenticated){
                                                <a class="btn btn-info btn-add-to-cart" asp-route-id="@item.Id" asp-action="AddToCart" asp-controller="ShoppingCart" ><i class="fa fa-shopping-cart"></i></a>
                                            }
                                            else{
                                                <a class="btn btn-info btn-add-to-cart" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                            <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
						@* <div class="row">
							<div class="col col-12"
									<!-- Pagination -->
									<div class="pagination">
										<ul class="pagination-list">
											<pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Full" asp-action="BestSeller" asp-controller="Shop"/>
										</ul>
									</div>
							</div>			<!--/ End Pagination -->
						</div> *@

</div>
						