@model IEnumerable<comestic_csharp.Models.Product>

@{
    ViewData["Title"] = "PRODUCT";
    Layout = "/Views/Shared/_MainLayout.cshtml";
}


@* <div class="container">
    <div class="breadcrumbs">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Make Up</li>
                    </ol>
            </nav>
        </div>
    </div>
    <h3 class="list-product-title">ALL PRODUCT</h3>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-12">
            
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <div class="product-group">
                <div class="row">
                    <div class="col-12">
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card card-product mb-3">
                                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                <img class="card-img-top" src="./storage/@item.Photo1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title product-title">@item.Title</h5>
                                    <div class="card-text product-price">
                                        <span class="del-price">@item.Price</span>
                                        <span class="new-price">80.000 vnd</span>
                                    </div>
                                    <a class="btn btn-info btn-add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div> *@


<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tag -->
    <!-- Title Tag  -->
    <title> PRODUCT PAGE</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">


    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" type="text/css" href="/Shop/product.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="js">

    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Make Up</li>
                    </ol>
            </nav>
        </div>
    </div>

        <!-- End Breadcrumbs -->
        <form action="http://127.0.0.1:8000/filter" method="POST">
            <input type="hidden" name="_token" value="o7TodAZ6Cy1kZbiU2MrxyjKfunrr1kJwpwnB38lM">
            <!-- Product Style 1 -->
            <section class="product-area shop-sidebar shop-list shop section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="shop-sidebar">
                                <!-- Single Widget -->
                                <div class="single-widget category">
                                    <h3 class="title">Categories</h3>
                                    @* <ul class="categor-list">
                                        <li>
                                            <li><a href="http://127.0.0.1:8000/product-cat/eyes">EYES</a></li>
                                            <li><a href="http://127.0.0.1:8000/product-cat/face">FACE</a></li>
                                            <li><a href="http://127.0.0.1:8000/product-cat/lips">LIPS</a></li>
                                            <li><a href="http://127.0.0.1:8000/product-cat/skincare">SKINCARE</a></li>
                                        </li>
                                    </ul> *@
                                     @{
                    ShopContext  _shopContext = new ShopContext();
                }
                @await Html.PartialAsync("_LOAD",_shopContext.Categories.ToList())
                                       
                                </div>
                                <!--/ End Single Widget -->
                                <!-- Shop By Price -->
                                <div class="single-widget range">
                                    <h3 class="title">Shop by Price</h3>
                                    <div class="price-filter">
                                        <div class="price-filter-inner">

                                            <div id="slider-range" data-min="0" data-max="2000000"></div>
                                            <div class="product_filter">
                                                <button type="submit" class="filter_button">Filter</button>
                                                <div class="label-input">
                                                    <span>Range:</span>
                                                    <input style="" type="text" id="amount" readonly/>
                                                    <input type="hidden" name="price_range" id="price_range" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--/ End Shop By Price -->
                                <!-- Single Widget -->

                                <!--/ End Single Widget -->
                                <!-- Single Widget -->
                                <div class="single-widget category">
                                    <h3 class="title">Brands</h3>
                                    <ul class="categor-list">
                                        <li><a href="http://127.0.0.1:8000/product-brand/3ce">3CE</a></li>
                                        <li><a href="http://127.0.0.1:8000/product-brand/br">Blackrouge</a></li>
                                        <li><a href="http://127.0.0.1:8000/product-brand/in">Innistree</a></li>
                                        <li><a href="http://127.0.0.1:8000/product-brand/mb">Maybelline</a></li>
                                        <li><a href="http://127.0.0.1:8000/product-brand/rm">Romand</a></li>
                                    </ul>
                                </div>
                                <!--/ End Single Widget -->
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Shop Top -->
                                    <div class="shop-top">
                                        <div class="shop-shorter">
                                            <div class="single-shorter">
                                                <label>Show :</label>
                                                <select class="show" name="show" onchange="this.form.submit();">
													<option value="">Default</option>
													<option value="9" >09</option>
													<option value="15" >15</option>
													<option value="21" >21</option>
													<option value="30" >30</option>
												</select>
                                            </div>
                                            <div class="single-shorter">
                                                <label>Sort By :</label>
                                                <select class='sortBy' name='sortBy' onchange="this.form.submit();">
													<option value="">Default</option>
													<option value="title" >Name</option>
													<option value="price" >Price</option>
													<option value="category" >Category</option>
													<option value="brand" >Brand</option>
												</select>
                                            </div>
                                        </div>
                                        <ul class="view-mode">
                                            <li class="active"><a href="javascript:void(0)"><i class="fa fa-th-large"></i></a></li>
                                            <li><a href="/Shop/Chuyen"><i class="fa fa-th-list"></i></a></li>
                                        </ul>
                                    </div>
                                    <!--/ End Shop Top -->
                                </div>
                            </div>
                            <div class="row">
                              
                            <div class="row">
                            
                                <div class="col-lg-12 col-md-8 col-12">
                                    <div class="product-group">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-12">
                                            </div>
                                        </div>

                                        <div class="row">
                                            @foreach (var item in Model)
                                            {
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="card card-product mb-3">
                                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                        <img class="card-img-top" src="./storage/@item.Photo1" alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title product-title">@item.Title</h5>
                                                            <div class="card-text product-price">
                                                                <span class="del-price">@item.Price</span>
                                                                <span class="new-price">80.000 vnd</span>
                                                            </div>
                                                            <a class="btn btn-info btn-add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                                                            <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">Xem chi tiết</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- Start Single List -->

                                <!-- End Single List -->
                            </div>
                            <div class="row">
                                <div class="col-md-12 justify-content-center d-flex">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ End Product Style 1  -->
        </form>
       
        

        <!-- Jquery -->
        <script src="./asset/js/jquery-3.3.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                /*----------------------------------------------------*/
                /*  Jquery Ui slider js
                /*----------------------------------------------------*/
                if ($("#slider-range").length > 0) {
                    const max_value = parseInt($("#slider-range").data('max')) || 500;
                    const min_value = parseInt($("#slider-range").data('min')) || 0;
                    const currency = $("#slider-range").data('currency') || '';
                    let price_range = min_value + '-' + max_value;
                    if ($("#price_range").length > 0 && $("#price_range").val()) {
                        price_range = $("#price_range").val().trim();
                    }
                    let price = price_range.split('-');
                    $("#slider-range").slider({
                        range: true,
                        min: min_value,
                        max: max_value,
                        values: price,
                        slide: function(event, ui) {
                            $("#amount").val(currency + ui.values[0] + " -  " + currency + ui.values[1]);
                            $("#price_range").val(ui.values[0] + "-" + ui.values[1]);
                        }
                    });
                }
                if ($("#amount").length > 0) {
                    const m_currency = $("#slider-range").data('currency') || '';
                    $("#amount").val(m_currency + $("#slider-range").slider("values", 0) +
                        "  -  " + m_currency + $("#slider-range").slider("values", 1));
                }
            })
        </script>

        <script>
            setTimeout(function() {
                $('.alert').slideUp();
            }, 5000);
            $(function() {
                // ------------------------------------------------------- //
                // Multi Level dropdowns
                // ------------------------------------------------------ //
                $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).siblings().toggleClass("show");
                    if (!$(this).next().hasClass('show')) {
                        $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
                    }
                    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                        $('.dropdown-submenu .show').removeClass("show");
                    });
                });
            });
        </script>
   

        <script src="/Shop/jquery.min.js"></script>
        <script src="/Shop/js/jquery-migrate-3.0.0.js"></script>
        <script src="/Shop/js/jquery-ui.min.js"></script>
        <!-- Popper JS -->




        <!-- Active JS -->
        <script src="http://127.0.0.1:8000/frontend/js/active.js"></script>

</body>

</html>