@model IEnumerable<comestic_csharp.Models.Orderdetail>
@{
    Layout= "/Views/Shared/_MainLayout.cshtml";
    var order = ViewBag.Order;
}

<div class="pcoded-content">
    <div class="row">
        <div class="col col-3">
            <ul class="categor-list">
					<li><a asp-action="Profile">MY PROFILE</a></li>	
                    <li><a asp-action="Order">MY ORDER</a></li>				
			</ul>
        </div>
        <div class="col col-9">
            <div class="card">
                <h3 class="card-header">Order Detail</h3>
                <div class="card-body">
                    <ul class="row">
                        <li class = "col-sm-10">
                            @order.OrderNumber
                        </li>
                        <li class = "col-sm-10">
                           @order.FirstName @order.LastName
                        </li>
                        <li class = "col-sm-10">
                            @order.CreatedAt
                        </li>
                        <li class = "col-sm-10">
                           @order.Phone
                        </li>
                        <li class = "col-sm-10">
                           @order.Address
                        </li>
                        <li class = "col-sm-10">
                           @order.TotalAmount
                        </li>
                    </ul>
                        <table class="table" id="example1">
                            <thead>
                                <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Quantity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Total)
                                        </th>
                                        <th></th>
                                    </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.ProductId
                                            </td>
                                            <td>
                                                @item.Quantity
                                            </td>
                                            <td>
                                                @item.Price
                                            </td>
                                            <td>
                                                @item.Total
                                            </td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>