<link rel="stylesheet" href="/shop/grid.css">
@using PagedList.Core.Mvc;
@using comestic_csharp.Areas.Identity.Data
@model PagedList.Core.IPagedList<comestic_csharp.Models.Product>;

@{
	ViewData["Title"] = "shop" + ViewBag.CurrentPage;
    Layout = "/Views/Shared/_MainLayout.cshtml";
	int PageCurrent = ViewBag.CurrentPage;
	int PageNext = PageCurrent +1;
    string id = ViewBag.Search;
}
<div class="container">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="card card-product mb-3">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <img class="card-img-top" src="/storage/@item.Photo1" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title product-title">@item.Title</h5>
										
                                            <div class="card-text product-price">
                                            @if (@item.CouponId == 1)
                                            {
                                                <span class="price">@item.Price</span>
                                            }
                                            else{
													ShopDbContext context = new ShopDbContext();
                                                    var giamGia = context.Coupons.SingleOrDefault(p => p.Id == @item.CouponId);
                                                    var delPrice = @item.Price /(1- giamGia.Value/100);

                                                    <span class="del-price">@delPrice</span>
                                                    <span class="new-price">@item.Price</span>
                                            }
                                            </div>
                                            @if(User.Identity.IsAuthenticated){
                                                <a class="btn btn-info btn-add-to-cart" asp-route-id="@item.Id" asp-action="AddToCart" asp-controller="ShoppingCart" ><i class="fa fa-shopping-cart"></i></a>
                                            }
                                            else{
                                                <a class="btn btn-info btn-add-to-cart" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                            <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
						<div class="row">
							<div class="col col-12"
									<!-- Pagination -->
									<div class="pagination">
										<ul class="pagination-list">
											<pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Full" asp-action="Search" asp-controller="Shop" asp-route-search="@id"/>
										</ul>
									</div>
							</div>			<!--/ End Pagination -->
						</div>

</div>