@model IEnumerable<comestic_csharp.Models.Productreview>

@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_StyleLayout")

<div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">REVIEW</h5>
                    </div>
                    <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Product">Product</a></li>
                            <li class="breadcrumb-item">Index</li>
                    </ul>
                    </div>
                </div>
        </div>
</div>

<div class="pcoded-content">
    <div class="card" style="width: fit-content;">
    <div class="flex-container">
        <div><h1 style="text-align: center; color: #095a3c; padding-top: 30px; padding-left: 40px">REVIEW</h1>
        </div>
    </div>
    <table class="table" id="example1">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Rating)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Review)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Product)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Rating) <i class="fa fa-star"></i>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Review)
                                        </td>
                                        <td>
                                            @if( item.Status =="active"){
                                                <button class="btn btn-danger">@item.Status</button>
                                            }
                                            else{
                                                <button class="btn btn-info">@item.Status</button>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Fullname)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn  btn-info btn-sm"><i data-feather="edit"></i></a>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn  btn-success btn-sm"><i data-feather="eye"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn  btn-danger btn-sm"><i data-feather="trash"></i></a>
                                        </td>
                                    </tr>
                                    }
                            </tbody>
    </table>
    </div>
</div>

@await Html.PartialAsync("_ScriptsLayout")